.search-container {
  margin: 50px 0;
}
.search-form {
  margin: 0 auto;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: row;
}
.form-control {
  width: 300px;
  height: 45px;
  margin: 0 10px;
}
.search-box {
  margin: 5px;
}
.search-btn {
  padding: 3px;
}
